@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500&family=Roboto+Mono&display=swap');

*{
    padding: 0px;
    margin: 0%;
    scroll-behavior:smooth;

}
.nav{
    background-color: black;
}
.navbar{
    display: flex;
}
.navbar img{
        width: 75px;
        margin: 2px 3px;
        border: solid white;
        border-radius: 50%;
        padding: 3px;
}
.navbar li{
    margin: auto 10px;
    padding: 13px;
    cursor: pointer;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
  
    
}
.navbar li a:hover{
    color: grey;
    
}
.navbar li a{
    text-decoration: none;
    color: white;
    
}
/* .nav::before{
    content: "";
    position: absolute;
    background-color: bisque;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
} */

/* .firstsec::before{
    content: "";
    position: absolute;
    background: url('../Images/bg3.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
} */
.firstsec{
   
    color: white;
    margin: auto;
    
    /* justify-content: center; */
    text-align: center;
    justify-content: center;
    width: 100%;
}
.first{
    display: flex;
    /* flex-wrap: wrap; */
    background: rgba(0, 0, 0, 0.7) url('../Images/bg3.jpg');
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    
}
.firstsec h2{
    font-size: 57px;
    margin-top: -59px;
    padding: 18px;
}
.firstsec p{
    font-size: 19px;
}
.btn1{
    color: white;
    padding: 6px;
    border: 2px solid white;
    background: red;
    border-radius: 11%;
    margin-top: 18px;
    width: 97px;
    cursor: pointer;
}
.btn1:hover{
    color: black;
}
/* for our services*/
.block{
    width: 25%;
    border: 2px solid black;
    border-radius: 5%;
    margin: 61px 12px;
    background-color: #eaeaea;
}


.block img{
    width: 184px;
    display: block;
    margin: auto;
    padding: 15px;
    height: 150px;
}
.hcenter{
    text-align: center;
    font-size: 37px;
    font-weight: lighter;
}
.pcenter{
    padding: 15px;
    text-align: initial;

}
.second{
    display: flex;
    justify-content: center;
}
.secondsec{
    text-align: center;
    margin-top: 39px;
}
.heading{
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
   
    text-align: center;
    padding-top: 29px ;
    
}
.clientinfo{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.clientinfo img{
    width: 11%;
    margin: 16px 59px;
}
.ourclient{
    position: relative
    /* text-align: center; */
}
.ourclient::before{
    content:'';
    position: absolute;
    background: url('../Images/bg2.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    /* margin: 0px -24px; */
    
}
.footer{
    text-align: center;
    background: black;
    color: white;
    padding: 5px;
}
.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 434px;
    margin-top: 19px;
    transition: all 0.7s ease-out;
}
.thirdsec input, .thirdsec textarea{
    width: 100%;
    
}
.thirdsec{
    /* padding-top: 15px; */
    position: relative;
}
form{
    width: 100%;

}
.connect{
    margin:5px 0px;
    
}
.thirdsec label{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.thirdsec::before{
    content:'';
    position: absolute;
    background: url('../Images/concate.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
   
    
}